<%= form_for(@post, html: { multipart: true, class: "dropzone"}) do |f|  %>
  <div class="field">
    <%= f.label "title:"%>
    <%= f.text_field :title %>
    <%= f.label "Tags:"%>
    <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
    
  </div>
  <div class="fallback">
    <%= f.file_field :avatar %><br>
    <%= f.submit "Upload my Avatar" %>
  </div>
<% end %><br>
<button id="imgsubbutt">Submit all files</button>