<% posts.each do |post| %>
    <div class="thumb">
   

	    <%=link_to image_tag(post.avatar.url(:thumb),:size => "200x200"), post %>
	    <div class="subtitle">
	    <span class="vote_left"><%= post.up_votes%> <%= render 'posts/svgheart'%>
	    <span class="whitespace"></span>
	    <%= post.down_votes%> <%= render 'posts/blackheart'%>
	     </span>
	    <span class="user_right"><%=link_to post.user.name, show_user_registration_path(post.user),:class=>:show %>
	    </span>
	    </div>
	    <div style="clear: both;"></div>
	    
   		 
    </div>
         
    
<% end %>