<% posts.each do |post| %>
    
   
<div class="thumb2">
   

	    <%=link_to image_tag(post.avatar.url(:thumb)), post %>
	    <div class="subtitle">
	    <span class="vote_left"><%= post.upvote_count%> <%= render 'posts/svgheart'%>
	    <span class="whitespace"></span>
	    <%= post.downvote_count%> <%= render 'posts/blackheart'%>
	     </span>
	    <span class="user_right"><%=link_to post.user_name, show_user_registration_path(post.user_id),:class=>:show %>
	    </span>
	    </div>
	    <div style="clear: both;"></div>
	    
   		 
    </div>
	   
	    
   		 
  
         
    
<% end %>