




<div class="fixed_right_pane">
<%= form_tag("/posts", method: "get") do %>
  <%= select_tag(:sort_id, options_for_select([['views', "viewed_posts"], ['votes', "upvoted_posts"], ['date', "recent_posts"],['comments', "commented_posts"]])) %>
   <%= select_tag(:filter_id, options_for_select([['last month', "last_month"], ['last week', "last_week"], ['last day', "last_day"],['last hour', "last_hour"]])) %>
  <%= submit_tag("Filter") %>
<% end %>

</div>
<div class="fixed_left_pane">
<%= render 'posts/index', posts:@posts%>
</div>


