


  
<div class="left_pane">
  <div class="image_left">
	<%= image_tag @post.avatar.url %>
  <div class="subtitle-show">
     
      <%= link_to post_vote_path(@post, vote: true), method: 'post' do %>
   <%=render 'svgheart'%>
   <%end %>
    <%= @post.upvote_count %>
         <span class="whitespace"></span>
    <%= link_to post_vote_path(@post, vote: false), method: 'post' do %>
      <%=render 'blackheart'%>
      
    <%end %>
    <%= @post.downvote_count %>
    <span class="whitespace"></span>
    <%= render 'posts/postEdit'%> <%= @post.impressions_count %> views <span class="whitespace"></span> <%= @post.comments_count %> comments <span class="whitespace"></span> 
       </span>
       <span class="whitespace"></span>
      <span class="user-right-show"> uploaded by <%=link_to @post.user_name, show_user_registration_path(@post.user),:class=>:show %>
      </span>
      </div>
      </div>
      <div style="clear: both;"></div><br>
	
</div>
<div class="right_pane">
  <%= @post.all_tags%>
  <%show_post=false%>
	<%=render 'comments/form' , post:@post%> 
  <% @current_comments= @post.comments.recent_comments%>
	<%=render 'comments/show' , comments:@current_comments, show_post:show_post%> 
</div>






 

 





