

<p>
  <%= link_to 'Back', posts_path %>
  <strong>Title:</strong>
  <%= @post.title %>
  <%=link_to @post.user.name, show_user_registration_path(@post.user),:class=>:show %>
</p>
<div id="image_left">
	<%= image_tag @post.avatar.url %><br>
	<%= render 'posts/postEdit'%>
</div>
<div id="comments_right">
	<%=render 'comments/form' , post:@post%> 
	<%=render 'comments/show' , post:@post%> 
</div>






 

 





