


  
<div class="left_pane">
  <div class="image_left">

	<%= image_tag @post.avatar.url %>
  
  

  
      <div style="clear: both;"></div><br>
	 <div class="subtitle-show">
     
      <%= link_to post_vote_path(@post, vote: true), method: 'post' , remote: true do %>
   <%=render 'svgheart'%>
   <%end %>
   <span id="upvotecount">
    <%= @post.upvote_count %> </span>
         <span class="whitespace"></span>
    <%= link_to post_vote_path(@post, vote: false), method: 'post', remote: true  do %>
      <%=render 'blackheart'%>
      
    <%end %> <span id="downvotecount">
    <%= @post.downvote_count %> </span>
    <span class="whitespace"></span>
    <%= render 'posts/postEdit'%> <%= @post.impressions_count %> views <span class="whitespace"></span> <%= @post.comments_count %> comments <span class="whitespace"></span> 
       </span>
       <span class="whitespace"></span>
      <span class="user-right-show"> @ <%=link_to @post.user_name, show_user_registration_path(@post.user),:class=>:show %>
      </span>
      <span class="whitespace"></span>
      <button class="zoomin"> +
      </button>
      <span class="whitespace"></span>
      <button class="zoomout"> -
      </button>
       <span class="whitespace"></span>
      <button class="reset"> []
      </button>
      <span class="whitespace"></span>
      <button class="rotateleft"> <-
      </button>
      <span class="whitespace"></span>
      <button class="rotateright"> ->
      </button>
    </div>
    

</div>
<div class="right_pane">
tags :

  <% @post.tags.each do |tag|%>
    <%=link_to  tag.name ,  posts_path( :commit => "Filter" ,:tag => tag.name, :filter_id => "last_month", :sort_id =>"viewed_posts") %> ,
  <%end%>
  <br>
  <%show_post=false%>

  <%=render 'comments/form' , post:@post%> 
  <% @current_comments= @post.comments.eager.recent_comments%>
  Comments:
  <div class="comments_show">
  <%=render 'comments/show' , comments:@current_comments, show_post:show_post%> 
  </div>
  </div>
</div>





 

 





