

<p>

  <strong>Title:</strong>
  <%= @post.title %>
  <%=link_to @post.user.name, show_user_registration_path(@post.user),:class=>:show %>
</p>
<%= image_tag @post.avatar.url %>

<% if false %>

<%= image_tag @post.avatar.url(:preview) %>
<%= image_tag @post.avatar.url(:thumb) %>

<% end %>
<%=render 'comments/form' , post:@post%> 
<%=render 'comments/show' , post:@post%> 

 

 


<%= render 'posts/postEdit'%>

<%= link_to 'Back', posts_path %>
