


  
<div class="left_pane">
  <div class="image_left">
	<%= image_tag @post.avatar.url %>
  <div class="subtitle-show">
     
      <%= link_to post_vote_path(@post, vote: true), method: 'post' do %>
   <i class='upvote'>upvote</i>
   <%end %>
    <%= @post.up_votes %>
         
    <%= link_to post_vote_path(@post, vote: false), method: 'post' do %>
      <i class='downvote'>downvote</i>
    <%end %>
    <%= @post.down_votes %>
    <%= render 'posts/postEdit'%>
       </span>
      <span class="user-right-show"> uploaded by <%=link_to @post.user.name, show_user_registration_path(@post.user),:class=>:show %>
      </span>
      </div>
      </div>
      <div style="clear: both;"></div><br>
	
</div>
<div class="comments_right">
  <%show_post=false%>
	<%=render 'comments/form' , post:@post%> 
  <% @current_comments= @post.comments.recent_comments%>
	<%=render 'comments/show' , comments:@current_comments, show_post:show_post%> 
</div>






 

 





