<p>
  
  <%= @user.name + "'s posts"  %>
</p>

<% @user.posts.recent_posts.each do |post| %>
        <%=link_to image_tag(post.avatar.url(:thumb)), post %>
        <%if current_user == @user or admin_signed_in?%>
  			<%= link_to "del",post, :method=>:delete,:class=>:destroy , data: {confirm: "Are you sure?"}  %>
 

		<%end%>
        
<% end %>

<% @user.comments.recent_comments.each do |comment| %>
        <p><strong>	<%=link_to comment.user.name, show_user_registration_path(comment.user),:class=>:show %> :</strong>
		  <%= comment.body %>
		  <%= comment.body %>
		  <%= time_ago_in_words(comment.created_at) %> ago
		  <%if current_user == comment.user or admin_signed_in?%>
		  
		  <%= link_to "delete", comment, :method=>:delete, :class=>:destroy , data: {confirm: "Are you sure?"}  %>
  		<% end %>
        </p>
<% end %>




